<h3>ConcatMap Operator</h3>
<div class="grid">
  <div class="col">
    <div class="border-solid border-primary-500 p-2 text-center">
      <p>Names printed Using Map Operator:['Zenisha','Parangi','Krutika']</p>
      <ul id="elContainer"></ul>
    </div>
  </div>
  <div class="col">
    <div class="border-solid border-primary-500 p-2 text-center">
      <p>
        Names printed Using Map and ConcatAll
        Operators:['Zenisha','Parangi','Krutika']
      </p>
      <ul id="elContainerTwo"></ul>
    </div>
  </div>
  <div class="col">
    <div class="border-solid border-primary-500 p-2 text-center">
      <p>
        Names printed Using ConcatMap Operator:['Zenisha','Parangi','Krutika']
      </p>
      <ul id="elContainerThree"></ul>
    </div>
  </div>
</div>
<h3>MergeMap Operator</h3>
<div class="grid">
  <div class="col">
    <div class="border-solid border-primary-500 p-2 text-center">
      <p>Names printed Using Map Operator:['Zenisha','Parangi','Krutika']</p>
      <ul id="elContainerFour"></ul>
    </div>
  </div>
  <div class="col">
    <div class="border-solid border-primary-500 p-2 text-center">
      <p>
        Names printed Using Map and MergeAll
        Operators:['Zenisha','Parangi','Krutika']
      </p>
      <ul id="elContainerFive"></ul>
    </div>
  </div>
  <div class="col">
    <div class="border-solid border-primary-500 p-2 text-center">
      <p>
        Names printed Using MergeMap Operator:['Zenisha','Parangi','Krutika']
      </p>
      <ul id="elContainerSix"></ul>
    </div>
  </div>
</div>
<h3>SwitchMap Operator</h3>
<div class="grid">
  <div class="col">
    <div class="border-solid border-primary-500 p-2 text-center">
      <p>Names printed Using Map Operator:['Zenisha','Parangi','Krutika']</p>
      <ul id="elContainerSeven"></ul>
    </div>
  </div>
  <div class="col">
    <div class="border-solid border-primary-500 p-2 text-center">
      <p>
        Names printed Using Map and SwitchAll
        Operators:['Zenisha','Parangi','Krutika']
      </p>
      <ul id="elContainerEight"></ul>
    </div>
  </div>
  <div class="col">
    <div class="border-solid border-primary-500 p-2 text-center">
      <p>
        Names printed Using SwitchMap Operator:['Zenisha','Parangi','Krutika']
      </p>
      <ul id="elContainerNine"></ul>
    </div>
  </div>
</div>
