@if(isLoading){
<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="square-jelly-box"
  [fullScreen]="true"
>
  <p style="color: white">Loading...</p>
</ngx-spinner>
} @if(isError){
<p>An error occurred while loading photos.</p>
} @if(!isLoading && !isError){
<div class="card flex justify-content-center sm:w-full">
  <div [formGroup]="formGroup">
    <input
      type="text"
      pInputText
      formControlName="text"
      placeholder="Search here..."
    />
  </div>
</div>
<div class="flex flex-wrap justify-content-center">
  @for (photo of (filteredPhotos$ | async); track photo.id) { @defer (on
  viewport) {
  <div
    class="p-card col-md-4 m-2 d-flex flex-column align-items-center"
    style="width: 200px; height: 250px"
  >
    <img
      src="{{ photo.thumbnailUrl }}"
      alt="{{ photo.title }}"
      class="mb-2 img-style"
    />
    <h5 class="text-center">{{ photo.title }}</h5>
  </div>
  }@placeholder {
  <div class="loading-placeholder">
    <p>Loading photos...</p>
  </div>
  } }@empty {
  <p-toast></p-toast>
  }
</div>
}
